In [8]:
import pandas as pd
df = pd.read_csv('SMSSpamCollection.txt', sep='\t', names=['labels', 'messages'])

In [14]:
df

     labels                                           messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [20]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

In [ ]:
ps = PorterStemmer()

corpus = []

for i in (df['messages']):
    review = re.sub('^a-zA-Z', ' ', i)
    review = review.lower()
    review = [ps.stem(word) for word in review if word not in stopwords.words('english') ]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
hnjkl;'

'